.bg-wrap {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-image: url("/img/eshop-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  background-size: cover;
}

@media (min-width: 609px) {
  .bg-wrap {
    background-image: url("/img/eshop-desktop.png");
  }
}

.app-shell {
  position: relative;
  z-index: 1;
}
